// Utilities :: Typography

// Alignment
.u-text-center {
  text-align: center !important;
}


// Case
.u-text-uppercase {
  text-transform: uppercase !important;
}


// Color
.u-text-muted {
  color: rgba($Q-color-text, 0.6);
}

.u-text-faint {
  color: rgba($Q-color-text, 0.3);
}

// Font
.u-text-serif {
  font-family: $Q-font-family-serif !important;
}


// Sizing
.u-text-md {
  font-size: $Q-font-size-base !important;
}

.u-text-sm {
  font-size: $Q-font-size--sm !important;
}

.u-text-xs {
  font-size: $Q-font-size--xs !important;
}


// Weight
.u-text-normal {
  font-weight: $Q-font-weight-base !important;
}

.u-text-bold {
  font-weight: $Q-font-weight--bold !important;
}

.u-text-light {
  font-weight: $Q-font-weight--light !important;
}
