// Variables :: Color

// Base
$Q-color-white:           #fff !default;
$Q-color-gray:            #aaa !default;
$Q-color-gray--lighter:   #f1f3f4 !default;
$Q-color-gray--light:     #ccc !default;
$Q-color-gray--darker:    #4d565d !default;


// Branding
$Q-color-branding:         #2a78c6 !default;
$Q-color-primary:          $Q-color-branding !default;

// Typography
$Q-color-text:             $Q-color-gray--darker !default;
