// Components :: Ducky

.c-ducky {
  width: 240px;
  position: relative;
  text-align: center;
}

.c-ducky__water {
  @include transform(translateY(30%));
  background: white;
  border-top: 3px solid #eee;
  bottom: 0;
  height: 30px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  z-index: 3;
}

.c-ducky__image {
  @include animation(c-ducky__image 3s infinite);
  @include backface-visibility(hidden);
  position: relative;
}


// Animations
@include keyframes(c-ducky__image) {
  0% {
    @include transform(translateY(0));
  }
  50% {
    @include transform(translateY(10px));
  }
  100% {
    @include transform(translateY(0));
  }
}
