// Variables :: Typography

// Font Family
$Q-font-family-sans-serif:        "Helvetica", "Arial", "Sans-Serif" !default;
$Q-font-family-serif:             "Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua","Georgia", "Serif" !default;
$Q-font-family-base:              $Q-font-family-sans-serif !default;

$Q-font-family-fancy:             'Playfair Display', serif !default;


// Font Size
$Q-font-size-base:                1rem !default;
$Q-font-size--sm:                 0.875rem !default;
$Q-font-size--xs:                 0.75rem !default;

$Q-font-size--h1:                 2.5rem !default;
$Q-font-size--h2:                 2rem !default;
$Q-font-size--h3:                 1.75rem !default;
$Q-font-size--h4:                 1.5rem !default;
$Q-font-size--h5:                 1.25rem !default;
$Q-font-size--h6:                 1rem !default;

$Q-font-size--display-1:          3.6rem !default;
$Q-font-size--display-2:          3.2rem !default;
$Q-font-size--display-3:          2.8rem !default;


// Font Line Heights
$Q-line-height-base:              1.5 !default;
$Q-line-height--sm:               1.2 !default;


// Font Weights
$Q-font-weight-base:              400 !default;
$Q-font-weight--bold:             700 !default;
$Q-font-weight--light:            300 !default;


// Font Margins
$Q-font-margin--heading:          15px !default;
