// Components :: Button

.c-button {
  @include transition(all 0.2s ease);
  border: 1px solid $Q-color-gray--light;
  border-radius: 3px;
  display: inline-block;
  padding: 0.6rem 1.6rem;
  text-decoration: none;

  &:hover {
    border-color: $Q-color-branding;
  }
}
