// Base :: Base

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $Q-font-size-base;
  line-height: $Q-line-height-base;
}

body {
  background-color: $Q-color-white;
  color: $Q-color-text;
  font-family: $Q-font-family-base;
  font-weight: $Q-font-weight-base;
  margin: 0;
  padding: 0 0;
  width: 100%;
}
