// Base :: Typography

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $Q-color-text;
  font-family: $Q-font-family-sans-serif;
  line-height: $Q-line-height--sm;
  margin: 0 0 $Q-font-margin--heading;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: $Q-font-weight--light;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: $Q-font-weight--bold;
}

h1 { font-size: $Q-font-size--h1; }
h2 { font-size: $Q-font-size--h2; }
h3 { font-size: $Q-font-size--h3; }
h4 { font-size: $Q-font-size--h4; }
h5 { font-size: $Q-font-size--h5; }
h6 { font-size: $Q-font-size--h6; }

.h1 { font-size: $Q-font-size--h1; }
.h2 { font-size: $Q-font-size--h2; }
.h3 { font-size: $Q-font-size--h3; }
.h4 { font-size: $Q-font-size--h4; }
.h5 { font-size: $Q-font-size--h5; }
.h6 { font-size: $Q-font-size--h6; }


// Links
a {
  color: $Q-color-branding;
}


// Paragraphs
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

p.lead {
  font-size: $Q-font-size--h5;
}
